extends layout

block content
  h1= title
  p Welcome to #{title}

  table(id="references")
    th Title
    th Author
    th Publisher
    th Date
      each elem in reference
        tr
          td !{elem.title}
          td !{elem.name}
          td !{elem.pub_name}
          td !{elem.date}
