//- routes.output
//- reference created by queries

extends layout

block content
  h1= title
  p Welcome to the #{title}. Select the items and the style for your reference and click submit to create your reference page.
  
  form(action='/catalog/build', method='post')
    table(id='references')
      th Include
      th Title
      th Author
      th Publisher
      th Year
      each elem in reference
        tr
          td
            input(type="checkbox" id="checkbox" name="mycheckbox" 
            value=`${[elem.name + ';',  
                    elem.date + ';',
                    elem.title + ';',
                    elem.pub_name + ';',
                    elem.journal + ';',
                    elem.pages + ';',
                    elem.city + ';',
                    elem.type]}`)
          td !{elem.title}
          td !{elem.name}
          td !{elem.pub_name}
          td !{elem.date}
    button(type='submit' formmethod='post') Submit
